<!-- Modal -->
    <div id="postModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modal-title" class="mb_0"></h2>
                <span class="close-btn">&times;</span>
            </div>
            <div class="modal-body">
                <img id="modal-image" class="mb_1" src="" alt="Post Image">
				<div class="modal-desc">
    <h3 class="mb_1">Rp. <span id="modal-harga"></span></h3>
                <p id="modal-content"></p>
				</div>
            </div>
        </div>
    </div>
