<!-- Modal -->
    <div id="postModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close-btn">&times;</span>
                <h2 id="modal-title" class="mb_1"></h2>
            </div>
            <div class="modal-body">
                <img id="modal-image" class="mb_1" src="" alt="Post Image">
				<div class="modal-desc">
    <p class="mb_1">Rp. <span id="modal-harga"></span></p>
                <p id="modal-content"></p>
				</div>
            </div>
        </div>
    </div>
