<div id="product-list" class="product-grid"></div>

{% include module_listProduct.html %}

<script>
  const loading = document.getElementById("loading");
  const productList = document.getElementById("product-list");

  // Tampilkan loading selama 500ms (biar kelihatan efeknya)
  setTimeout(() => {
    products.forEach(product => {
      const section = document.createElement("section");
      section.className = "entry card-box styles";
      section.setAttribute("itemscope", "");
      section.setAttribute("itemtype", "http://schema.org/Product");

      section.innerHTML = `
        <div class="style">
          <a href="${product.url}">
            <img class="card-img-top lazyimg" src="{{site.baseurl}}/assets/images/placeholder.jpg" data-src="{{ product.featured_image_path }}" itemprop="image">
          </a>
        </div>
        <div class="card-body product-details text-center">
          <div class="product-name">
            <h4><a href="${product.url}">${product.title}</a></h4>
          </div>
          <div class="product-price">
            <p>Rp. ${product.price}</p>
          </div>
        </div>
      `;

      productList.appendChild(section);
    });

    // Sembunyikan loading
    loading.style.display = "none";
  }, 500);
</script>