@use '../base/variables' as *;

.btn {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border-radius: $btn-radius;
    text-decoration: none;
    display: inline-block;

    &:hover {
        opacity: 0.8;
    }
}

.style-picker {
display: flex;
width: 100vh;
 .item_warna {
    width: 35px;
    height: 35px;
    border-radius: 50% 50%;
  }
}