@use '../base/variables' as *;

.btn {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border-radius: $btn-radius;
    text-decoration: none;
    display: inline-block;

    &:hover {
        opacity: 0.8;
    }
}

.style-picker {
  margin-bottom: 20px;
  margin-top: 20px;

  div {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50% 50%;
    margin: 0 5px 0 0;
    border: 0;
    cursor: pointer;
    -webkit-appearance: inherit;
  }

}