@use '../base/variables' as *;
@use '../base/mixins' as *;

.hero {
    text-align: $middle;
    padding: 50px 20px;
    background-color: $hero;
@include mobile {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -20px;
    -webkit-box-shadow: $box-shadow; 
    box-shadow: $box-shadow;
    background-color: $hero;
}
    h2 {
        color: $primary-color;
    }

    p {
        margin: 10px 0;
    }
}

.products {
    padding: 50px 0px;

    .product-grid {
        display: grid;
		grid-template-columns: repeat(3, minmax(250px, 1fr));
        gap: 15px;
		margin-top: 20px;
        justify-content: $middle;
		@include mobile {
			grid-template-columns: repeat(2, minmax(80px, 1fr));
		}
    }

    .product-card {
		background: #ddd;
		box-shadow: 2px 3px 9px -5px #6c757da1;
        border: 1px solid #ddd;
		border-radius: 12px;
        padding: 12px;
        text-align: $middle;
		&:hover {
    transform: scale(1.05);
}

        img {
            max-width: 100%;
            height: auto;
			border-radius: 8px;
        }

        h3 {
            margin-top: 10px;
        }
    }
}
.center-in-parent {
  margin: 0;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}