<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'id | ID' }}">
 {% include head.html %}
<body>
<div class="content">
 {% include header.html %}
{{ content }}
</div>
 {% include footer.html %}
 {% include alert.html %}
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("stickyHead");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>

     <script src="{{ '/assets/js/jquery-2.2.4.min.js' | relative_url }}"></script>
     <script src="{{ '/assets/js/simpleCart.js' | relative_url }}"></script>
     <script async src="{{ '/assets/js/main.js' | relative_url }}"></script>
     <script async src="{{ '/assets/js/responsive-menu.js' | relative_url }}"></script>

    {% if page.url contains '/products/' %}
       <script async src="{{ '/assets/js/style-picker.js' | relative_url }}"></script>
       <script async src="{{ '/assets/js/add-to-cart.js' | relative_url }}"></script>
    {% endif %}

    {% if page.url == '/checkout/' %}
     <script async src="{{ '/assets/js/checkout.js' | relative_url }}"></script>
    {% endif %}

</body>
</html>

